*{
    margin:0;
    padding:0;
    box-sizing:border-box;font-family: 'Roboto';
}
 body{
      background-color:#f2eaea;
 }
nav{
    display: flex;
    width:100vw;
    height:60px;
    align-items: center;
    background-color:#ffffffdb;
    gap:30px;
}

nav img>:first-child{
    width:35px;
}

.search{
     
       background-color:#f2eaea;
    display:flex;
    width:45vw;
    height:40px;
    align-items:center;
    justify-content:center;
    text-align:center;
     
    /* padding:0 12px; */
    border-radius:3px;
}
.search input{
    
    width:92vw;
    background:transparent;
    border:none;
    color:black;
    height:40px;
}
.search i{
    width:8vw;
}
.opt{
    justify-content:space-between;
    border-radius:3px;
    display: flex;
    width:35vw;
    align-items:center;
    height:40px;
    background-color:#ffffffdb;
}
.login{
    margin:12px;
    display:flex;
    gap:2px;
    align-items:center;
    position:relative
}
.login p:hover:first-child{
    color:blue
}
.newCustomer{
    flex-direction:column;
    font-size:18px;
    display: none;
    position:absolute;
    z-index:10;
    top:5vh;
    background-color:whitesmoke;
    border-radius:6px;
    box-shadow: -3px 4px 14px 6px #cdbfbf;
    width:20vw;
}
.newProf p{
    padding:10px;
}
.newProf p:hover{
    background:white;
}
.newProf p i{
    margin:0 10px;
}
.newC {
    font-weight:600;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:15px 0;
    border-bottom:1px solid grey; 
}
.newC button{
    font-weight:600;
    color:blue;
    background:transparent;
    border:none;
}
.cart{
    display:flex;
    gap:3px;
}
.seller{
    display:flex;
    gap:3px;
}
.ellispe{
    /* background-color:red; */
    position:relative;
}
.ellArr{
    display: none;
    flex-direction:column;
    gap:15px;
    background-color:#ffffff;
    width:16vw;
    right:-1vw;
    position:absolute;
    box-shadow: -3px 4px 14px 6px #cdbfbf;
    padding:20px;
    border-radius:5px;
    
    z-index:2
}.ellArr i{
    padding:0 5px;
}
.top-image{
    /* background-color:red; */
    background-color:#ffffffdb;
    margin:15px auto;
    align-items:center;
    justify-content:space-evenly;
    width:98vw;
    text-align:center;
    display:flex;
    
}
.top-image p{
    display:flex;
    gap:3px;
    align-items:center;
    
}
.Mhov{
    position:relative;
}
.Mlist{
    position:absolute;
    display:flex;
    align-items:center;
    left:-10vw;
    display:none;
}
.Mlist-sub{
    font-size:12px;
     background-color:#ffffffdb;
        box-shadow: 3px 4px 15px 2px #cdbfbf;
    width:20vw;
    padding:15px
}
 
.Mlist-sub p{
    color:#7f7979;
    padding:15px 0;
}
.Mlist-sub h3{
    font-size:16px;
    font-weight:600;
    text-align:left;
    padding:5px 0; 
}
.Mlist-sub p:hover{
    color:black;
    transform:scale(1.02);
    background-color:#d3c2c217;
}