*{
    margin:0;
    padding:0;
}
nav{
    background-image:url("https://images.unsplash.com/photo-1532960401447-7dd05bef20b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bmV3JTIweW9yayUyMGNpdHl8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-size: cover;
    /* background-blend-mode:darked ; */
    height: 600px;
    
}
.asuslaptop{
    width:70px;
    border-radius:500px;
    height:70px;
    border: 2px solid white;

}
.navhead{
    background-color: rgb(209, 199, 199);
    width: 100%;
    height:82px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.navbar{
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.kukushibo ul{
    display: flex;
    /* justify-content: space-evenly; */
}
.kukushibo ul li{
        list-style: none;
    }

    

.kukushibo ul li a{
    text-decoration-line: none;
    /* padding-left:30px; 
     */
     padding: 0px 20px;

        color:white;   
    font-size: 1rem;
}
.kukushibo ul li a:hover{
    /* color: blue;
    border */
    border:2px solid white
}
.kukushibo ul li:hover{
   text-decoration: line; 
}


.inginemain
{
    width: 50%;
}
.inginesearch{
    margin:auto;
    background-color: white;
    width: 300px;
    height: 30px;
    display: flex;
    border-radius:5px


}

.inputtext{

    border: none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    width: 250px;
    font-size:1rem;
}
.inputmagnifine{
    
    justify-content: center;
  align-items: center;
  width: 50px;
  display: flex;
  font-size: 1.2rem;
}
/* Starting second section ----------------------------------------------*/

.headingmain{
display: flex;
width: 50%;
margin: auto;
margin-top:170px;
} 
.imghaiyar{
    border-radius: 20px;


}