*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins';
}
body{
    background:url('https://images.pexels.com/photos/552789/pexels-photo-552789.jpeg?auto=compress&cs=tinysrgb&w=600') ;
}
 
.secInd{
    box-shadow: -2px 8px 17px #e6bebe;
    position: relative;
    width:100vw;
    margin:10px;
}
.secInd p{
    color:white;
    position: absolute;
    top:50%;
    left: 50%;
}
.secInd img{
    object-fit: cover;
    height: 15vh;
    width: 80vw;
}
.secReg{
  display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center;
    justify-content:center;
}
