*{
    margin: 0;
    padding: 0;
}
.listnav ul li{
    list-style: none;
    display: flex;
    padding: 0px 10px;
}
.listnav ul{
    display:flex;
}
.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    justify-content: space-evenly;
    flex-direction:column;
    width: 31px;
    height: 21px;

}
.toggle-button .bar{
    width: 100%;
    height: 3px;
    background-color: white;


}
.listnav ul li a{
    text-decoration-line: none;
    color: white;
}
.listnav ul li a{
    /* text-decoration-line: none; */
    /* color: white; */
    /* backgrou */
    border-radius: 20px;
}
.navbar{
    background-color: rgb(17, 13, 13);
    display: flex;
    align-items: center;
}
@media (max-width: 500px){
    .toggle-button{
        display: flex;

    }
    .listnav{
        display: none;
    }
    .navbar{
        height: 300px;
    }
}

.logo img
{
    height: 80px;
    width: 80px;
    border-radius:500px;
    border: 2px solid white;
}